$primary-blue: #015499;
$white: #ffffff;
$button-bg: #f3f3f3;
$text-color: $white;
$icon-color: #000000;

.deco-section {
  background-image: url(../assets/images/f.png);
  background-size: cover; // S'assure que l'image couvre entièrement l'arrière-plan
  background-position: center;
  color: $text-color;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .content {
    text-align: center;
    z-index: 2; 

    h1 {
      font-family: "Britannic", sans-serif;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      @media (max-width: 480px) {
        font-size: 0.8rem;
      }
    }

    .cta-button {
      background-color: $button-bg;
      color: $primary-blue;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: $primary-blue;
        color: $white;
        transform: scale(1.05);
      }

      @media (max-width: 768px) {
        padding: 5px 14px;
        font-size: 1rem;
      }

      @media (max-width: 480px) {
        padding: 3px 12px;
        font-size: 0.8rem;
      }
    }
  }

  .background-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    .icon {
      position: absolute;
      background: $icon-color;
      width: 50px;
      height: 50px;
      opacity: 0.5;

      &.top-left {
        top: 10%;
        left: 5%;
        background: url("/path/to/icon1.svg") no-repeat center / contain;
      }

      &.top-right {
        top: 10%;
        right: 5%;
        background: url("/path/to/icon2.svg") no-repeat center / contain;
      }

      &.bottom-left {
        bottom: 10%;
        left: 5%;
        background: url("/path/to/icon3.svg") no-repeat center / contain;
      }

      &.bottom-right {
        bottom: 10%;
        right: 5%;
        background: url("/path/to/icon4.svg") no-repeat center / contain;
      }

      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
      }

      @media (max-width: 480px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  // Responsive adjustments for section height
  @media (max-width: 768px) {
    height: 50vh; // Réduit la hauteur sur tablettes
  }

  @media (max-width: 480px) {
    height: 40vh; // Réduit davantage la hauteur sur mobiles
  }
}
