$primary-blue: #1DA1F2;
$white: #F3F3F3;
$light-gray: #F5F5F5;
$bg-white: #FFFFFF;
$text-dark: #2C3749;
$bg-blue: #015499;
$text-light: #555555;
$box-shadow: rgba(0, 0, 0, 0.1);
$black-text: #0D0D0D;

.hero-home {
    background-color: $bg-blue;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden; 
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 30%; 
    }

    .section {
        text-align: center;
        max-width: 1200px; 
        padding: 0 20px; 

        h1 {
            font-family: 'Mongolian Baiti', sans-serif;
            font-size: 4rem; 
            line-height: 1.2;
            margin-bottom: 20px;

            span {
                color: $black-text;
            }
        }

        .description {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 1.2rem; 
            color: $light-gray;
            margin: 0 auto;
            max-width: 800px; 
        }

        .btn-box {
            margin: 20px auto; 
            background-color: $bg-white;
            width: fit-content; 
            padding: 10px 20px;
            border-radius: 5px; 
            box-shadow: 0 4px 6px $box-shadow; 

            a {
                text-decoration: none;
                color: $text-dark;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 1rem;
            }

            &:hover {
                background-color: $primary-blue;
                color: $white;

                a {
                    color: $white; 
                }
            }
        }
    }
}