$primary-blue: #1DA1F2;
$white: #F3F3F3;
$light-gray: #F5F5F5;
$bg-white: #FFFFFF;
$text-dark: #2C3749;
$bg-blue: #015499;
$text-light: #555555;
$box-shadow: rgba(0, 0, 0, 0.1);
$black-text: #0D0D0D;

.hero-home {
  background-color: $bg-blue;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;

  video, img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.3; // Syntaxe correcte pour l'opacité
  }

  .section {
      text-align: center;
      max-width: 1200px;
      padding: 0 20px;

      h1 {
          font-family: 'Mongolian Baiti', sans-serif;
          font-size: 3rem; // Taille par défaut
          line-height: 1.2;
          margin-bottom: 20px;

          span {
              color: $black-text;
          }
      }

      .description {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 1.2rem;
          color: $light-gray;
          margin: 0 auto;
          max-width: 800px;
      }

      .btn-box {
          margin: 20px auto;
          background-color: $bg-white;
          color: $black-text;
          width: fit-content;
          padding: 10px 20px;
          border-radius: 5px;
          box-shadow: 0 4px 6px $box-shadow;

          &:hover {
              background-color: $primary-blue;
              color: $white;
          }
      }
  }

  
}


.partenaires {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin: 2rem;
    padding-top: 50px;
  
    img {
      height:200px;
      object-fit: contain;
    }
  }

  .temoignages {
    padding: 100px 0;
    text-align: center;
    margin: 2rem;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  
    .testimonial-slider {
      display: flex;
      overflow: hidden; /* Cache les éléments en dehors de la vue */
      position: relative;
      max-width: 900px;
      margin: 0 auto; /* Centrer le slider */
    }
  
    .testimonial {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-width: 100%; /* Chaque témoignage prend toute la largeur du slider */
      line-height: 1.5;
  
      .image-testimonial {
        height: 150px;
        width: 150px;
        border: 3px solid #48a2ff;
        border-radius: 50%;
        margin-right: 5rem; /* Espace entre l'image et la description */
        flex-shrink: 0; /* Empêche l'image de se réduire */
      }
  
      .description-testimonial {
        position: relative;
  
        .testimonial-icon {
          position: absolute;
          font-size: 4rem;
          color: #48a2ff;
  
          &.left {
            position: absolute;
            top: -30px;
            left: -40px;
          }
  
          &.right {
            bottom: 11px;
            right: -4px;
          }
        }
  
        .quotes {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  
    .testimonial-footer {
      margin-top: 1rem;
  
      strong {
        display: block;
        font-size: 1.2rem;
      }
  
      span {
        font-size: 0.9rem;
        color: #777;
      }
    }
  
    .dots {
      margin-top: 1rem;
  
      .dot {
        height: 10px;
        width: 10px;
        background-color: #ccc;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
  
        &.active {
          background-color: #48a2ff;
        }
      }
    }
  }
  