// Responsive design

@media only screen and (max-width: 800px) {
    .main-payement {
        padding: 0px;
        width: 80%;
        margin: auto;
    }

    .paiement-container {
        margin-top: 10%;
        width: 100%;
    }

    .paiement-img-container {
        display: none;
    }

    .progress {
        width: 69%;
    }
}

@media (max-width: 600px) {

    .paiement-form-container {
        width: 80%;
        margin: auto;
    }

    .paiement-container {
        margin-top: 20%;
    }

    .progress {
        width: 57%;
    }

    .profile-section {
        .row {
            .col {
                flex: 100%;
            }
        }

        .centered {
            width: 100%;
        }

        .img-container {
            width: 220px;
            height: 220px;
        }

        .profile-img {
            width: 230px;
        }
    }
}